* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.account {
    background: #96858f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 80%;
    min-height: 80%;
}

header {
    background: #fff;
    height: 500px;
    width: 1280px;
    position: relative;
} 

header .presentation-account {
    display: flex;
    width: 100%;
    margin: auto;
    height: 450px;
    align-items: center;
    justify-content: space-between;
}

.account-picture img {
    height: auto;
    width: 550px;
    margin-right: -100px;
}

#update_button {
    margin-top: 1rem;
    background-color:#00957a;
    color: white;
}

#update_button:hover {
    margin-top: 1rem;
    background-color: #017e70;
    color: white;
}

.profile_edit{
    width: 60%;
}

.account-input {
    width: 700px;
}

@media screen and (max-width: 800px){
    .presentation-account {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .account-input {
        width: 100%
    }

    .account-picture img {
        width: 100%;
    }
}
